/*****************************************
*
* GLOBAL STYLES
*
******************************************/
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	color: #a4bad6;
}
body {
	background: #171717;
	font-family: Verdana, sans-serif;
	font-size: 13px;
	font-color: #a4bad6;
	line-height: 1.2;
	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
	scrollbar-face-color:#1A1A1A;
	scrollbar-track-color:#171717;
	scrollbar-highlight-color:#171717;
}

em {
	font-style: normal;
	font-weight: bold;
}

img {
	margin: 0;
	padding: 0;
	line-height: 1;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
}

img.icon {
	height: 1em;
	min-height: 1em;
	width: auto;
	vertical-align: bottom;
}

.r:before { /* "repeated" badge class for combined messages */
	content: 'x';
}
.r {
	display: inline-block;
	min-width: 0.5em;
	font-size: 0.7em;
	padding: 0.2em 0.3em;
	line-height: 1;
	color: white;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: crimson;
	border-radius: 10px;
}

a {color: #397ea5;}
a.visited {color: #7c00e6;}
a:visited {color: #7c00e6;}
a.popt {text-decoration: none;}

/*****************************************
*
* OUTPUT NOT RELATED TO ACTUAL MESSAGES
*
******************************************/
#loading {
	position: fixed;
	width: 300px;
	height: 150px;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -75px 0 0 -150px;
}
#loading i {display: block; padding-bottom: 3px;}

#messages {
	font-size: 13px;
	padding: 3px;
	margin: 0;
	word-wrap: break-word;
}
#newMessages {
	position: fixed;
	display: block;
	bottom: 0;
	right: 0;
	padding: 8px;
	background: #202020;
	text-decoration: none;
	font-variant: small-caps;
	font-size: 1.1em;
	font-weight: bold;
	color: #a4bad6;
}
#newMessages:hover {background: #171717;}
#newMessages i {vertical-align: middle; padding-left: 3px;}
#userBar {
	position: fixed;
	top: 0;
	right: 0;
}
#userBar .subCell {
	background: #202020;
	height: 30px;
	padding: 5px 0;
	display: block;
	color: #a4bad6;
	text-decoration: none;
	line-height: 28px;
	border-top: 1px solid #171717;
}
#userBar .subCell:hover {background: #202020;}
#userBar .toggle {
	width: 45px;
	background: #202020;
	border-top: 0;
	float: right;
	text-align: center;
}
#userBar .sub {clear: both; display: none; width: 180px;}
#userBar .sub.scroll {overflow-y: scroll;}
#userBar .sub.subCell {padding: 3px 0 3px 8px; line-height: 30px; font-size: 0.9em; clear: both;}
#userBar .sub span {
	display: block;
	line-height: 30px;
	float: left;
}
#userBar .sub i {
	display: block;
	padding: 0 5px;
	font-size: 1.1em;
	width: 22px;
	text-align: center;
	line-height: 30px;
	float: right;
}
#userBar .sub input {
	position: absolute;
	padding: 7px 5px;
	width: 121px;
	line-height: 30px;
	float: left;
}
#userBar .topCell {border-top: 0;}

/* POPUPS */
.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	background: #ddd;
}
.popup .close {
	position: absolute;
	background: #aaa;
	top: 0;
	right: 0;
	color: #333;
	text-decoration: none;
	z-index: 2;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
}
.popup .close:hover {background: #999;}
.popup .head {
	background: #999;
	color: #ddd;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
	border-bottom: 2px solid green;
}
.popup input {border: 1px solid #999; background: #fff; margin: 0; padding: 5px; outline: none; color: #333;}
.popup input[type=text]:hover, .popup input[type=text]:active, .popup input[type=text]:focus {border-color: green;}
.popup input[type=submit] {padding: 5px 10px; background: #999; color: #ddd; text-transform: uppercase; font-size: 0.9em; font-weight: bold;}
.popup input[type=submit]:hover, .popup input[type=submit]:focus, .popup input[type=submit]:active {background: #aaa; cursor: pointer;}

.changeFont {padding: 10px;}
.changeFont a {display: block; text-decoration: none; padding: 3px; color: #333;}
.changeFont a:hover {background: #ccc;}

.highlightPopup {padding: 10px; text-align: center;}
.highlightPopup input[type=text] {display: block; width: 215px; text-align: left; margin-top: 5px;}
.highlightPopup input.highlightColor {background-color: #FFFF00;}
.highlightPopup input.highlightTermSubmit {margin-top: 5px;}

/* ADMIN CONTEXT MENU */
.contextMenu {
	background-color: #ddd;
	position: fixed;
	margin: 2px;
	width: 150px;
}
.contextMenu a {
	display: block;
	padding: 2px 5px;
	text-decoration: none;
	color: #333;
}

.contextMenu a:hover {
	background-color: #ccc;
}

/* ADMIN FILTER MESSAGES MENU */
.filterMessages {padding: 5px;}
.filterMessages div {padding: 2px 0;}
.filterMessages input {}
.filterMessages label {}

.icon-stack {height: 1em; line-height: 1em; width: 1em; vertical-align: middle; margin-top: -2px;}


/*****************************************
*
* OUTPUT ACTUALLY RELATED TO MESSAGES
*
******************************************/

/* MOTD */
.motd {color: #a4bad6;	font-family: Verdana, sans-serif;}
.motd h1, .motd h2, .motd h3, .motd h4, .motd h5, .motd h6 {color: #a4bad6;	text-decoration: underline;}
.motd a, .motd a:link, .motd a:visited, .motd a:active, .motd a:hover {color: #a4bad6;}

/* ADD HERE FOR BOLD */
.bold, .name, .prefix, .ooc, .looc, .adminooc, .admin, .medal, .yell {font-weight: bold;}

/* ADD HERE FOR ITALIC */
.italic, .italics, .emote {font-style: italic;}

/* OUTPUT COLORS */
.highlight {background: yellow;}

h1, h2, h3, h4, h5, h6	{color: #a4bad6;font-family: Georgia, Verdana, sans-serif;}

em						{font-style: normal;	font-weight: bold;}

/* LOG */
.log_message			{color: #386aff;	font-weight: bold;}

/* OOC */
.ooc img.text_tag		{width: 32px; height: 10px;}

.ooc .everyone			{color: #002eb8;}
.ooc .looc				{color: #3a7496;}
.ooc .elevated			{color: #2e78d9;}
.ooc .moderator			{color: #184880;}
.ooc .developer			{color: #1b521f;}
.ooc .admin				{color: #b82e00;}
.ooc .aooc				{color: #960018;}

/* Admin: Private Messages */
.pm  .howto				{color: #ff0000;	font-weight: bold;		font-size: 200%;}
.pm  .in				{color: #ff0000;}
.pm  .out				{color: #ff0000;}
.pm  .other				{color: #0000ff;}

/* Admin: Channels */
.mod_channel			{color: #735638;	font-weight: bold;}
.mod_channel .admin		{color: #b82e00;	font-weight: bold;}
.admin_channel			{color: #9611d4;	font-weight: bold;}

/* Radio: Misc */
.deadsay				{color: #530fad;}
.radio					{color: #008000;}
.deptradio				{color: #ff00ff;}	/* when all other department colors fail */
.newscaster				{color: #750000;}

/* Radio Channels */
.comradio				{color: #193a7a;}
.syndradio				{color: #6d3f40;}
.centradio				{color: #5c5c8a;}
.airadio				{color: #ff00ff;}
.entradio				{color: #339966;}

.secradio				{color: #a30000;}
.engradio				{color: #a66300;}
.medradio				{color: #008160;}
.sciradio				{color: #993399;}
.supradio				{color: #5f4519;}
.srvradio				{color: #6eaa2c;}
.expradio				{color: #a3a332;}

.hailradio				{color: #cc00aa;}
.exampleradio			{color: #ff00ff;}
.voxradio				{color: #f32b06;}
.bearcatradio			{color: #590e2d;}
.colonyradio			{color: #ceaf3e;}
.verneradio				{color: #738465;}

/* Miscellaneous */
.name					{font-weight: bold;}
.alert					{color: #ff0000;}
h1.alert, h2.alert		{color: #000080;}

.emote					{font-style: italic;}

/* Game Messages */
.attack					{color: #ff0000;}
.moderate				{color: #cc0000;}
.disarm					{color: #990000;}
.passive				{color: #660000;}

.danger					{color: #ff0000; font-weight: bold;}
.warning				{color: #ff0000; font-style: italic;}
.boldannounce			{color: #ff0000; font-weight: bold;}
.rose					{color: #ff5050;}
.info					{color: #0000cc;}
.notice					{color: #000099;}
.alium					{color: #00ff00;}
.cult					{color: #800080; font-weight: bold; font-style: italic;}


/* Languages */
.alien					{color: #855d85;}
.changeling				{color: #059223;	font-style: italic;}
.tajaran				{color: #803b56;}
.tajaran_signlang		{color: #941c1c;}
.skrell					{color: #00ced1;}
.soghun					{color: #228b22;}
.nabber_lang			{color: #525252;}
.solcom					{color: #22228b;}
.vox					{color: #aa00aa;}
.rough					{font-family: "Trebuchet MS", cursive, sans-serif;}
.say_quote				{font-family: Georgia, Verdana, sans-serif;}
.terran					{color: #9c250b;}
.moon					{color: #422863;}
.spacer					{color: #ff6600;}
.vulpkanin				{color: #B97A57;}

.interface				{color: #750e75;}

.good                   {color: #4f7529; font-weight: bold;}
.bad                    {color: #ee0000; font-weight: bold;}

@keyframes hypnocolor {
	0%		{color: #202020;}
	25%		{color: #4b02ac;}
	50%		{color: #9f41f1;}
	75%		{color: #541c9c;}
	100%	{color: #7adbf3;}
}

.phobia			{color: #dd0000;	font-weight: bold;	animation: phobia 750ms infinite;}
@keyframes phobia {
	0%		{color: #f75a5a;}
	50%		{color: #dd0000;}
	100%	{color: #f75a5a;}
}

.icon 					{height: 1em;	width: auto;}

.connectionClosed, .fatalError {background: red;	color: white;	padding: 5px;}
.connectionClosed.restored {background: green;}
.internal.boldnshit {color: #3d5bc3;	font-weight: bold;}

/* HELPER CLASSES */
.text-normal {font-weight: normal;	font-style: normal;}
.hidden {display: none;	visibility: hidden;}
